
body {
 font-family: 'Arial','Meiryo' sans-serif;
 font-size: 20px;
 text-align: center;
}

h1 {
  font-family:  Josefin Sans;
  font-size: 40px;
  text-shadow: 1px 1px 2px silver;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115,115,114);
}

h1::first-letter{
  color: skyblue;
}

span{
  color: rgb(255,192,203);
}

.text-pink {
   color: rgb(255,192,203);
 }

.text-blue {
   color: skyblue; 
}

#fontwidth {
 font-weight: bold;
}